# URL Koneksi Database MySQL
# Format: mysql+pymysql://username:password@host/nama_database
DATABASE_URL=mysql+pymysql://root:@localhost/prediksi_motor

# Kunci Keamanan Flask Session
SECRET_KEY=kunci-rahasia-anda-disini
